body{
    /* font-family: arial, helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5; */
    font:15px/1.5 arial, helvetica,sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}


.container{
    width:90% ;
    margin: auto;
    overflow: hidden;
}
header{
    background:#35424a;
    color: #ffffff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom:#e8491d 3px solid;
}
header a {
    color: #ffffff;
    text-decoration:none;
    text-transform: uppercase;  
    font-size: 16px;
}

header ul a{
  
  float: left;
  display: inline;    
}

.closebtn {
    font-size: 23px;
    background-color: rgb(228, 32, 32);
    border: 9px solid rgb(230, 41, 41);
}
.openbtn{
    font-size: 12px;
    background-color: rgb(32, 228, 65);
    border: 9px solid rgb(41, 230, 82);
}

.sidenav{
    height: 100%;
    /* width: ; */
    /* position: fixed; */
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111111;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;

}
.sidenav a{
    padding: 8px   8px   8px   8px ;
    font-size: 25px;
    color: #818181;
    display: block;
    transition:0.3s;
}
.sidenav a:hover , .offcanvas a:focus{
    color: #f1f1f1;;
}

.closebtn{
    position: absolute;
    top: 0;
    right: 25px;
font-size: 36px !important;
/* margin-left:90px;    */
margin-right: 1024px; 
height: 30px;  
}

.openbtn{
    position: absolute;
    top: 0;
    right: 89   px;
font-size: 36px !important;
height: 45px;  
    
}
#main{
    transition:5s;
    margin-left:12px;
    padding: 20px;
    background-color: black;
    color:#ffffff;
}

@media screen and (max-height:450px){
    .sidenav {padding-top:15px; }
    .sidenav a{
        font-size: 18px;
    }
}